    <!-- prettier-ignore-->
    {{ partial "htmlhead.html" . }}
    {{ partial "menu.html" . }}
    {{ partial "header.html" . }}

    <!-- List Posts-->
    <main itemprop="mainEntity" itemscope="" itemtype="http://schema.org/Blog" class="ns-main"> 
       <!-- prettier-ignore-end-->
       <div class="gig-text">
         <div class="ns-gigs">
          <h1>Gig Dates 2022</h1>
            <ul>  
              <li class="ns-notpassed">
               <div class="gig-box">Frome Independant Market - Sun 4<sup>th</sup> September @ 1:45pm </div> 
              </li>
              <li class="ns-notpassed">
                <div class="gig-box">Prom - Fri 15<sup>th</sup> July - Private Gig</div> 
              </li>
              <li class="ns-notpassed">
                <div class="gig-box ns-nextgig">Frank Water - Fri 1<sup>st</sup> July - Charity Event</div> 
              </li>              
              <li class="ns-strikethrough">
                <div class="gig-box">Shreen - Sat 18<sup>th</sup> June - Private Gig</div> 
              </li>              
              <li class="ns-strikethrough">
                <div class="gig-box">Wimborne Folk Festival (The Willow Walk Stage) - Sat 11<sup>th</sup> June @ 1:30pm</div> 
              </li>                
              <li class="ns-strikethrough">
                <div class="gig-box"> Wimborne Live and Loud - Sun 24<sup>th</sup> April</div> 
              </li>
            </ul>
          </div>
         </div>
        </div>
     </main> 

    <!-- End List Posts--> 

    <!-- prettier-ignore-->
    {{ partial "footer" . }}  
    {{ partial "pwa.html" . }}
    {{ partial "script.html" . }}
    {{ partial "htmlbase.html" . }}
    <!-- prettier-ignore-end-->
  </body>
</html>