    <!-- prettier-ignore-->
    {{ partial "htmlhead.html" . }}
    {{ partial "menu.html" . }}
    {{ partial "header.html" . }}

    <!-- List Posts-->
    <main itemprop="mainEntity" itemscope="" itemtype="http://schema.org/Blog" class="ns-main"> 
       <!-- prettier-ignore-end-->
       <div class="gig-text">
         <div class="ns-gigs">
          <h1>Gig Dates 2022</h1>
            <ul>  
              <li class="ns-notpassed">
                Frome Independant Market - Sunday 4th September 2022
              </li>
              <li class="ns-notpassed">
                Prom Gig - Friday 15th July 2022
              </li>
              <li class="ns-notpassed ns-nextgig">
                Wimborne Folk Festival - TBA
              </li>                
              <li class="ns-strikethrough">
                Wimborne Live and Loud - Sunday 24th April
              </li>
            </ul>
          </div>
         </div>
        </div>
     </main> 

    <!-- End List Posts--> 

    <!-- prettier-ignore-->
    {{ partial "footer" . }}  
    {{ partial "pwa.html" . }}
    {{ partial "script.html" . }}
    {{ partial "htmlbase.html" . }}
    <!-- prettier-ignore-end-->
  </body>
</html>